<img src="../images/tableau_cmyk_2015.png">

# Tableau Fundamentals

- 02/04/21
- 081720FT

## Topics

- Tableau vs Tableau Public
- Installing Tableau Public
- Loading Data Files 
- Key Vocabulary
- Making Several Types of Plots
    - Scatter Plots with Trendlines
    - Histograms/Grouped Histogram
    - Map scatter plot 
    - Map Shaded Area Plot
- Customizing Plots
- Your Tableau Profile

## Resources/References

- Udemy Course: [Tableau 2020 A-Z: Hands-On Tableau Training for Data Science](https://www.udemy.com/course/tableau10/)

# Tableau vs Tableau Public

- Tableau Public is the free version of Tableau.
- They are VERY similar, but there are important distinctions:
    - Data Access
        - Tableau can access SQL servers
        - Tableau Public cannot.
    - Saving Projects:
        - Tableau can save and load projects locally.
        - Tableau Public can only save to the cloud

# Installing Tableau Public

- https://public.tableau.com/en-us/s/

# Examining the Data

## Saving Dataset for Demo

In [8]:
# !pip install -U fsds
# from fsds.imports import *

In [6]:
df1 = fs.datasets.load_mod1_proj(read_csv_kwds={'index_col':0})
display(df1.head(2))
df1.to_csv('regression_data_complete.csv')

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,3,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,3,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639

In [7]:
df2 = fs.datasets.load_ts_baltimore_crime_counts()
display(df2.head(2))
df2.to_csv('baltimore_crime_ts.csv')

,datetime,AGG. ASSAULT,ARSON,AUTO THEFT,BURGLARY,COMMON ASSAULT,HOMICIDE,LARCENY,LARCENY FROM AUTO,RAPE,ROBBERY - CARJACKING,ROBBERY - COMMERCIAL,ROBBERY - RESIDENCE,ROBBERY - STREET,SHOOTING
0,2014-01-01,22,0,9,20,19,2,34,15,3,0,2,1,8,2
1,2014-01-02,6,0,7,28,23,3,26,10,0,1,1,1,4,0

## Load in `regression_data_details.csv`

> - Open Tableau Public and load up the first housing regression dataset file (`regression_data_details.csv`)
    - CSVs are technically "Text Files"   

> - Notice that Tableau automatically replaced text values in numeric columns ('?' in sqft)
    - It also cleaned up the column names (`sqft_living` -> "Sqft Living")
  
- Now click "Go to Worksheet" / "Sheet 1" at the bottom of the app.

# Vocab

- Dimensions: 
    - categorical features/independent variables
    - Show up in Blue on Columns/Row view
- Measures: 
    - numeric features / dependent variables.
    - Measures get aggregated (SUM, MEAN,etc)
    - Shows up in Green on Columns/Row View
- Attributes??

# Our Tasks

## Load in `regression_data_details.csv`

> - Open Tableau Public and load up the first housing regression dataset file (`regression_data_details.csv`)
    - CSVs are technically "Text Files"   

> - Notice that Tableau automatically replaced text values in numeric columns ('?' in sqft)
    - It also cleaned up the column names (`sqft_living` -> "Sqft Living")
  
- Now click "Go to Worksheet" / "Sheet 1" at the bottom of the app.

### Plots to Make: King's County Housing Data

1. [ ] A scatter plot of Sqft Living vs Price + a trendline.
2. [ ] A scatter plot of Sqft Living vs Price grouped by if its waterfront property (+ trendlines) <br><t>(first with null values then without)
3. [ ] A histogram of price in in **\$**100K-bins.
4. [ ] A histogram of price in in **\$**100K-bins broken out by Waterfront properties.
5. [ ] A map of median prices by zipcode (with a Green color scale broken into 5 shades of green)- see note about maps below.
6. [ ] A map of all homes with color-coded price with the smallest markers possible. 

    
> - **Note: for our maps, we want:**
    - A dark background,
    - Add County names/borders
    - Add major cities
    - Add terrain
    - Add major roadways. 

    
- [ ] **Save the workbook to Tableau Public and make sure it shows all individual sheets.**

### Solutions - King's County Housing Data

1. A scatter plot of sqft_(which?) vs price + a trendline.
    - Answer: 
        - Columns = Sqft Living (Dimension)
        - Rows = Price (Dimension)
        - Change to Analysis Tab -> Trendline
        
        
2. A scatter plot of Sqft Living vs price grouped by if its waterfront property (first with null values then without)
    - Duplicate sheet/plot #1
    - Right Click Waterfront -> Convert to Dimension
    - Drag Waterfront -> Color
    
    - To remove Null values:
        - Right click on Null in legend > Exclude
        
3. A histogram of price in %100K-bins.
    - Answer 1: Click Price then click Show Me
    - Answer 2: 
        - Right click on Price > Create > Bins
        - Columns = Price Bins
        - Rows = Price (CNT)    
    
4. A histogram of price in in **\$**100K-bins broken out by Waterfront properties.
    - Duplicate plot #3
    - Drag Waterfront dimension to Color.
        
        
5. A map of median prices by zipcode (with a Green color scale broken into 5 shades of green):
    - Drag Zipcode onto main pane of plot.
    - Drag Price onto Color
        - Change Price to Median
    - Click on Dropdown Arrow next to Title of Color Scale:
        - Edit Colors
        - Select Green
        - Select Stepped Color
    - Visual Flair: 
        - Right Click on Map > Map Layers
        - Select Dark
        - Add County borders, county labels,
        terrain, cities.
        
6. [ ] A map of all homes with color-coded price with the smallest markers possible. 
    - Columns: Long
    - Rows: Lat
    - Color: Price
    - Click on Size > Drag slider to the left.

## Load in `baltimore_crime_ts.csv`

- After saving the first notebook, close it and load in the other text file.

### Plots to Make: Baltimore Crime Data

1. [ ] Create a time series plot of:
    - Shooting, Robbery-Street, Robbery-Carjacking, Homicide
    - Convert it to an area chart

### Solutions - Baltimore Crime Data

- Double Click one of the crimes, e.g. Shooting
- Double click Date.
- Click on Date in the Columns box and click on Month from the second section of options. 
- To add more crimes:
    - Click and drag their name into the upper left area of the y-axis until the || icon appears. 
    - Reference: https://community.tableau.com/s/question/0D54T00000C5hf4SAB/multiple-series-on-line-graph
- To make an area chart: click drop down in Marks pane and select area.