# Objectives
YWBAT
* apply OOP to build an ORM (Object Relational Mapping) for a database
* build methods that apply to all tables
* build methods that apply to individual tables 
* build child classes for individual tables

In [2]:
import sqlite3
import pandas as pd

In [3]:
conn = sqlite3.Connection("../../data/data.sqlite")
cursor = conn.cursor()

In [66]:
from importlib import reload
from db_connector import my_connector as mc

reload(mc)

In [41]:
db_path = "../../data/data.sqlite"

my_connector = mc.MyDBConnector(db_path=db_path)

In [42]:
type(my_connector)

db_connector.my_connector.MyDBConnector

In [43]:
vars(my_connector)

{'conn': <sqlite3.Connection at 0x11ddb8e30>,
 'cursor': <sqlite3.Cursor at 0x11dc4f570>}

In [44]:
my_connector.list_tables()

['productlines',
 'offices',
 'customers',
 'employees',
 'orderdetails',
 'orders',
 'payments',
 'products']

In [45]:
my_connector.select_all()[:3]

[('S10_1678',
  '1969 Harley Davidson Ultimate Chopper',
  'Motorcycles',
  '1:10',
  'Min Lin Diecast',
  'This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive chain, wheels and steering. All parts are particularly delicate due to their precise scale and require special care and attention.',
  7933,
  48.81,
  95.7),
 ('S10_1949',
  '1952 Alpine Renault 1300',
  'Classic Cars',
  '1:10',
  'Classic Metal Creations',
  'Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.',
  7305,
  98.58,
  214.3),
 ('S10_2016',
  '1996 Moto Guzzi 1100i',
  'Motorcycles',
  '1:10',
  'Highway 66 Mini Classics',
  'Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine, working steering, working suspension, two leather seats, luggage rack, dual exhaust pipes, small saddle bag located on handle bars, two-tone paint with chrome accents, superior die-cast detail , rotating wheels , working kick stand, diecast metal with plastic parts and baked enamel finish.',
  6625,
  68.99,
  118.94)]

In [46]:
# test list_column_names method
my_connector.list_column_names()

['productCode',
 'productName',
 'productLine',
 'productScale',
 'productVendor',
 'productDescription',
 'quantityInStock',
 'buyPrice',
 'MSRP']

In [48]:
# test load_table_as_df method
df = my_connector.load_table_as_df()
df.head()

,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
1,S10_1949,1952 Alpine Renault 1300,Classic Cars,1:10,Classic Metal Creations,Turnable front wheels; steering function; deta...,7305,98.58,214.30
2,S10_2016,1996 Moto Guzzi 1100i,Motorcycles,1:10,Highway 66 Mini Classics,"Official Moto Guzzi logos and insignias, saddl...",6625,68.99,118.94
3,S10_4698,2003 Harley-Davidson Eagle Drag Bike,Motorcycles,1:10,Red Start Diecast,"Model features, official Harley Davidson logos...",5582,91.02,193.66
4,S10_4757,1972 Alfa Romeo GTA,Classic Cars,1:10,Motor City Art Classics,Features include: Turnable front wheels; steer...,3252,85.68,136.00

In [53]:
my_connector.load_table_as_df(table_name='orderdetails')

      orderNumber productCode  quantityOrdered  priceEach  orderLineNumber
0           10100    S18_1749               30     136.00                3
1           10100    S18_2248               50      55.09                2
2           10100    S18_4409               22      75.46                4
3           10100    S24_3969               49      35.29                1
4           10101    S18_2325               25     108.06                4
...           ...         ...              ...        ...              ...
2991        10425    S24_2300               49     127.79                9
2992        10425    S24_2840               31      31.82                5
2993        10425    S32_1268               41      83.79               11
2994        10425    S32_2509               11      50.32                6
2995        10425    S50_1392               18      94.92                2

[2996 rows x 5 columns]

In [67]:
# let's load in our child class
od_connector = mc.OrderDetailsConnector(db_path=db_path)

In [68]:
od_connector.list_column_names()

['orderNumber',
 'productCode',
 'quantityOrdered',
 'priceEach',
 'orderLineNumber']

In [69]:
# test get_order_numbers method
od_connector.get_order_numbers(order_numbers=[10100, 10425])

    orderNumber productCode  quantityOrdered  priceEach  orderLineNumber
0         10100    S18_1749               30     136.00                3
1         10100    S18_2248               50      55.09                2
2         10100    S18_4409               22      75.46                4
3         10100    S24_3969               49      35.29                1
4         10425    S10_4962               38     131.49               12
5         10425    S12_4473               33      95.99                4
6         10425    S18_2238               28     147.36                3
7         10425    S18_2319               38     117.82                7
8         10425    S18_2432               19      48.62               10
9         10425    S18_3232               28     140.55                8
10        10425    S18_4600               38     107.76               13
11        10425    S24_1444               55      53.75                1
12        10425    S24_2300               49     127.79                9
13        10425    S24_2840               31      31.82                5
14        10425    S32_1268               41      83.79               11
15        10425    S32_2509               11      50.32                6
16        10425    S50_1392               18      94.92                2

# What did we learn today? 
* learned about inheritence 
* how to make a child class 
* reload from importlib
* workflow for creating classes