# Objectives
YWBAT
* identify a dot product
* write other equations in terms of a dot product
* solve linear regression using dot products and matrix multiplication

In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv("../data/OLSChallenge.csv", encoding="ISO-8859-1")
df.head()

,avgAnnCount,avgDeathsPerYear,TARGET_deathRate,incidenceRate,medIncome,popEst2015,povertyPercent,studyPerCap,binnedInc,MedianAge,...,PctPrivateCoverageAlone,PctEmpPrivCoverage,PctPublicCoverage,PctPublicCoverageAlone,PctWhite,PctBlack,PctAsian,PctOtherRace,PctMarriedHouseholds,BirthRate
0,1397.0,469,164.9,489.8,61898,260131,11.2,499.748204,"(61494.5, 125635]",39.3,...,NaN,41.6,32.9,14.0,81.780529,2.594728,4.821857,1.843479,52.856076,6.118831
1,173.0,70,161.3,411.6,48127,43269,18.6,23.111234,"(48021.6, 51046.4]",33.0,...,53.8,43.6,31.1,15.3,89.228509,0.969102,2.246233,3.741352,45.372500,4.333096
2,102.0,50,174.7,349.7,49348,21026,14.6,47.560164,"(48021.6, 51046.4]",45.0,...,43.5,34.9,42.1,21.1,90.922190,0.739673,0.465898,2.747358,54.444868,3.729488
3,427.0,202,194.8,430.4,44243,75882,17.1,342.637253,"(42724.4, 45201]",42.8,...,40.3,35.0,45.3,25.0,91.744686,0.782626,1.161359,1.362643,51.021514,4.603841
4,57.0,26,144.4,350.1,49955,10321,12.5,0.000000,"(48021.6, 51046.4]",48.3,...,43.9,35.1,44.0,22.7,94.104024,0.270192,0.665830,0.492135,54.027460,6.796657

In [11]:
# Let's take a subset of this data
# target = 'TARGET_deathRate'
# subset = ['incidenceRate', 'avgDeathsPerYear', 'popEst2015', 'povertyPercent']

target = "TARGET_deathRate"
subset = ['incidenceRate', 'avgDeathsPerYear', 'popEst2015', 'povertyPercent']

In [12]:
y = df[target]
X = df[subset]

In [13]:
X.head()

   incidenceRate  avgDeathsPerYear  popEst2015  povertyPercent
0          489.8               469      260131            11.2
1          411.6                70       43269            18.6
2          349.7                50       21026            14.6
3          430.4               202       75882            17.1
4          350.1                26       10321            12.5

# let's calculate some dot products

In [16]:
# lists vs arrays

In [14]:
# Let's do some linear regression by hand!

In [15]:
y.shape, X.shape

((3047,), (3047, 4))